body, h1, h2, h3, h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    max-height: 60px;
    padding-bottom: 21px;

}
.logo{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4px;
    color: #69B9FF;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/b.png) no-repeat center top;
    max-width: 1440px;
    height: 594px;
    margin-bottom: 80px;
}
li {
    list-style-type: none; 
   }
.menu{
    display: flex;
}

.menu li a{
    text-decoration: none;
    font-size: 16px;
    margin-right: 40px;
}
.c{
    color: #676770;
}
.h{
    color: #0082F3;
}
h1, h2, h3, h4, button{
    text-transform: uppercase;
    color: #fff;
}
h1{
    font-size: 59px;
    letter-spacing: 4px;
}
.btn{
    background: #69B9FF;
    width: 138px;
    height: 45px;
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
    margin-right: 20px;
    margin-top: 106px;
}
.bt{
    background: transparent;
    border: #fff 1px solid;
    border-radius: 3px;
    letter-spacing: 2px;
    width: 183px;
    height: 43px;
}
.walp{
    text-align: center;
}
.pic{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;   
}
.picture{
    border: #DCEBF7 solid 1px;
    border-radius: 5px; 
    margin-left: 18px;
    margin-top: 62px;
}
.watch, .index, .box{
    margin-top: 36px;
}

.wwd h2, h3, p {
    color: #676770;
    text-align: center;
}
.head{
    font-size: 30px;
    letter-spacing: 5px;   
}
.subtitle{
    font-size: 17px;
    letter-spacing: 3px;
    color: #8E8E9C;
}
.title{
    font-size: 14px;
    line-height: 25px;
    color: #6A859C;
    padding: 0 16px 23px 16px;
}
.serv{
    background-color: #192024;
    min-height: 842px;
    padding-top: 80px;
}
.serv p, h2, h3{
    color: #fff;
    text-align: center;
}
.serv p{
    font-size: 14px;
    line-height: 25px;
}
.serv h3{
    font-size: 20px;
    letter-spacing: 7px;
    margin-top: 19px;
    margin-bottom: 23px;
}
.services{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 75px;
}
.btnn{
    margin-top: 17px;
    background: transparent;
    border: #fff 1px solid;
    border-radius: 3px;
    text-transform: uppercase;
    width: 183px;
    height: 43px;
    letter-spacing: 2px;
    font-size: 16px;
}

