body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    font-size: 16px;
}
.walp{
    background-image: -webkit-image-set(C:\Users\alina\Documents\two\img\tiv.png);
    background-repeat: no-repeat; 
    width: 1440px; 
    height: 594px;
}
