body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    font-size: 16px;
}
.walp{
    background-image: url(img\tiv.png); 
    background-repeat: no-repeat; 
    width: 1440px; 
    height: 594px;
}
